:root {
  --primary-color: #072227;
  --secondary-color: #35858b;
  --text-color: #aefeff;
  --fallback-color: #4fbdba;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1.5rem 2rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-content {
  display: flex;
  column-gap: 20px;
}

.nav-text-content {
  color: var(--text-color);
  text-decoration: none;
}

.nav-text-content:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--text-color);
  text-decoration-style: dashed;
  text-decoration-thickness: 5px;
}

.nav-active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--primary-color);
  text-decoration-style: dashed;
  text-decoration-thickness: 5px;
}

.main-container {
  max-width: 700px;
  margin: 1rem auto;
  padding: 2rem 1.5rem;
}

.text-center {
  text-align: center;
}

.heading {
  margin-bottom: 2rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 1rem 0;
  align-items: center;
}

.input-container input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  border: 2px solid var(--text-color);
  transition: 0.2s;
}

.input-container input::placeholder {
  color: var(--text-color);
}

.input-container input:hover {
  outline: none;
  border: 2px dashed var(--fallback-color);
}

.input-container input:focus {
  outline: none;
  border: 2px dashed var(--fallback-color);
}

.input-container button {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.1s;
  /* font-family: 'Inter', sans-serif; */
}

.input-container button:hover {
  border: 2px dashed var(--fallback-color);
}

.result {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
}

@media only screen and (max-width: 500px) {
  .navbar {
    padding: 1rem;
  }
  .nav-content {
    margin-top: 1rem;
  }

  .nav-text-content {
    font-size: 0.8rem;
  }

  .main-container {
    padding: 1rem 1rem;
  }

  .input-container input {
    width: 100%;
    padding: 1rem 0;
    max-width: 100%;
  }

  .input-container input::placeholder {
    padding: 1rem 0.5rem;
  }
}
